/AnyBaseToDecimal.class
/BinaryToGray.class
/DecimalToAnyBase.class
/DecimalToHexadecimal.class
/DecimalToOctal.class
/AnyBaseToDecimalTest.class
/BinaryToGrayTest.class
/DecimalToAnyBaseTest.class
/DecimalToHexadecimalTest.class
/DecimalToOctalTest.class
