/BFS.class
/BinarySearch.class
/BloomFilter$Builder.class
/BloomFilter.class
/ExponentialSearch.class
/FibonacciSearch.class
/InterpolationSearch.class
/JumpSearch.class
/LinearSearch.class
/vertex.class
