name: Build
on:
  push:
    paths:
      - 'src/**'
      - '**.yml'
      - '**.xml'
      - '**.Dockerfile'
  pull_request:
    paths:
      - 'src/**'
      - '**.yml'
      - '**.xml'
      - '**.Dockerfile'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
